<h4>Add Product to Sell</h4>
<form>
    <div class="mb-3">
      <label for="productTitle" class="form-label">Product Title</label>
      <input type="text" class="form-control" id="productTitle">
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Description</label>
      <input type="text" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="text" class="form-control" id="Price">
      </div>
      <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="text" class="form-control" id="Price">
      </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>