<h1>My Listing</h1>
<div class="container">
  <div class="row mt-5">
    <div class="col-8">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Item 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Name</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="card-link">Price</p>
          <a href="#" class="card-link">edit,delete</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-add-product></app-add-product>
    </div>
  </div>
</div>
